body {
    background-color: rgb(3, 94, 47);
    text-align: center;
}

h1{
    text-align: center;
    font-size: 80px;
    color: white;
}

.square {
    background-color: rgb(84, 162, 107);
    border: 2px solid black;
    height: 250px;
    width: 600px;
    margin-left: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid rgb(5, 57, 20);
    font-weight: 1000;
}

h3 {
    color: rgb(4, 71, 13);
    font-size: 25px;
    font-weight: 600;
}

input {
    border: 2px solid black;
    font-weight: 800;
}

.first,
.second {
    color: white;
}
