body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
  
h1{
    font-size: 80px;
    color: white;
}
  
.square {
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    margin-left: 320px;
    border-radius: 15px;
    margin-bottom: 20px;
}
  
h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(126, 125, 123);
    border-radius: 10px;
}
  
h3 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
  
input {
    border: 2px solid black;
    font-weight: 800;
}
  
.text {
    color: rgb(0, 0, 0);
}
  
h4 {
    font-size: 30px;
    background-color: rgb(126, 125, 123);
    color: white;
}
  
.text {
    font-size: 28px;
    margin: 35px;
}
  
.req {
    font-size: 28px ;
    background-color: rgb(126, 125, 123);
}
  
.req-text {
    font-size: 23px;
}

#square-first {
    height: 1000px;
    width: 800px;
}
  
#square-second {
    height: 1150px;
    width: 800px;
}
  
#square-third {
    height: 1050px;
    width: 800px;
}
  
header {
    background-color: rgb(164, 26, 2);
    border: 5px solid black;
    margin: 10px;
}
  
#back {
    margin-left: -500px;
    margin-right: 100px;
}
  
.img-c {
    margin-left: 200px;
}
  
#given {
    color: rgb(8, 2, 89);
}

a {
    font-size: 40px;
}

#timer {
    display: flex;
    margin-bottom: 100px;
}
  